<div class="chat-container">
    <div class="chat-header">
        <h1>Langchain Chatbot</h1>
    </div>
    
    <div class="chat-messages" id="chatMessages">
        <div ng-repeat="message in messages" 
             class="message" 
             ng-class="{'user-message': message.sender === 'user', 'bot-message': message.sender === 'bot'}">
            <div class="message-content">
                <div class="message-sender">{{ message.sender === 'user' ? 'You' : 'Bot' }}</div>
                <div class="message-text">{{ message.text }}</div>
                <div class="message-time">{{ message.time }}</div>
            </div>
        </div>
        
        <div ng-if="isLoading" class="message bot-message">
            <div class="message-content">
                <div class="message-sender">Bot</div>
                <div class="typing-indicator">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="chat-input-container">
        <form ng-submit="sendMessage()" class="chat-form">
            <input 
                type="text" 
                ng-model="userInput" 
                placeholder="Type your message here..." 
                class="chat-input"
                ng-disabled="isLoading"
                autofocus
            >
            <button 
                type="submit" 
                class="send-button"
                ng-disabled="!userInput || isLoading">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <line x1="22" y1="2" x2="11" y2="13"></line>
                    <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                </svg>
            </button>
        </form>
    </div>
</div>


