<div class="login-container">
    <div class="login-card">
        <div class="login-header">
            <h1>{{ isSignup ? 'Create Account' : 'Welcome Back' }}</h1>
            <p>{{ isSignup ? 'Sign up to access the Langchain Chatbot' : 'Sign in to access the Langchain Chatbot' }}</p>
        </div>
        
        <form name="loginForm" ng-submit="submit()" class="login-form">
            <div class="form-group" ng-if="isSignup">
                <label for="email">Email</label>
                <input 
                    type="email" 
                    id="email"
                    name="email"
                    ng-model="credentials.email" 
                    placeholder="Enter your email"
                    class="form-input"
                    ng-disabled="isLoading"
                    ng-keypress="handleKeyPress($event)"
                    ng-required="isSignup"
                >
            </div>

            <div class="form-group">
                <label for="username">Username</label>
                <input 
                    type="text" 
                    id="username"
                    name="username"
                    ng-model="credentials.username" 
                    placeholder="Enter your username"
                    class="form-input"
                    ng-disabled="isLoading"
                    ng-keypress="handleKeyPress($event)"
                    autofocus
                    required
                >
            </div>
            
            <div class="form-group">
                <label for="password">Password</label>
                <input 
                    type="password" 
                    id="password"
                    name="password"
                    ng-model="credentials.password" 
                    placeholder="Enter your password"
                    class="form-input"
                    ng-disabled="isLoading"
                    ng-keypress="handleKeyPress($event)"
                    required
                >
            </div>
            
            <div ng-if="error" class="error-message">
                {{ error }}
            </div>
            
            <button 
                type="submit" 
                class="login-button"
                ng-disabled="loginForm.$invalid || isLoading">
                <span ng-if="!isLoading">{{ isSignup ? 'Sign Up' : 'Sign In' }}</span>
                <span ng-if="isLoading">{{ isSignup ? 'Creating account...' : 'Signing in...' }}</span>
            </button>
        </form>
        
        <div class="login-footer">
            <p>{{ isSignup ? 'Already have an account?' : "Don't have an account?" }} <a href="" ng-click="toggleSignup()">{{ isSignup ? 'Sign In' : 'Sign Up' }}</a></p>
        </div>
    </div>
</div>

